<section class="topSpace">
    <div class="container">
        <header>
            <h1>
                <p>Change Password</p>
            </h1>
        </header>
        <div class="row">
            <div class="col-md-12">
              <form>
                <div class="input-group">
                  <span class="input-group-addon">old password</span>
                  <input class="form-control" type="password" ng-model="ac.credentials.old" placeholder="old password" aria-label="old password">
                </div><!-- /input-group -->
                <p></p>
                <div class="input-group">
                  <span class="input-group-addon">new password</span>
                  <input class="form-control" type="password" ng-model="ac.credentials.new" placeholder="new password" aria-label="new password">
                </div><!-- /input-group -->
                <p></p>
                <div class="input-group">
                  <button type="button" class="btn btn-default" ng-click="ac.changePassword()" aria-label="change password">change password</button>
                </div>
              </form>
              <div ng-show="ac.error">
                <small>{{ ac.error }}</small>
              </div>
            </div>
        </div>
    </div>
</section>
